*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
/* body*/
body{
    background-color: #F3F4F6;

   }
   /* nav*/
    ul{
        position: fixed;
        z-index: 1000;
        border: 1px solid white;
        width: 1350px;
        height: 95px;
        max-width: 1440px;
        max-height: 95px;
        background-color: white;
        text-align: right ;
        padding: 0;
        list-style-type: none;
        margin: 0%;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
        top: 0;
    }
    
    li{
        color:  rgb(134, 132, 132);
        display: inline-block;
        margin-inline: 2.7rem;
        margin-top: 2.5rem;
        margin-bottom: 0.8rem;
        font-size: 18px;
        text-transform: capitalize;
        position: relative;
        cursor: pointer;
        margin-right: 1px;
        opacity: 1;
        transition: 0.2s;
    }
    li:hover{
        color: black;
    }
    select{
        border: none;
        padding-left: 1.5rem;
        background-color: white;
        width: 8%;
        font-size: 18px;
        color: rgb(134, 132, 132);
    }
    li::after{
        content: "";
        position: absolute;
        background: blue;
        height: 0.2rem;
        width: 100%;
        background-size: 0% 0%;
        bottom: -0.1rem;
        left: 0;
        bottom: -12px;
        opacity: 0;
        transition: all 0.2s;
    }
    li:hover::after{
        opacity: 1;
        
    }
    .active1{
        color: black;
    }
    .active{
        position: relative;
        color: black;
        opacity: 1;
        transition: 0.2s;
    }
    .active::after{
        content: "";
        position: absolute;
        background: blue;
        height: 0.2rem;
        width: 62%;
        background-size: 0% 0%;
        left: 35%;
        bottom: -13px;
    }
    /* dashboard*/
    h1{
        width: 1350px;
        max-width: 1440px;
        background-size: 144px;
        margin-top: 0.2rem;
        background-color: white;
        padding: 1rem;
        font-size: 2.5rem;
        padding-left: 2.2rem;
    }
    /* container*/
    .container{
        background-color:white;
        border: none;
        width: 1300px;
        height: 2760px;
        margin: 3rem 0 3rem 2%;
        border-radius: 15px;
        padding: 2rem;
        box-shadow: 5px 5px 10px 6px #0000001A;
    }
    /*first row*/
    input {
        font-size: 1.5rem;
        width: 220px;
        border-radius: 7px;
        height: 40px;    
        float: right;  
        border: none;  
    }
    .input1{
        border: 2px solid black;
        width: 271px;
        height: 48px;
        padding: 0;
        border-radius: 8px;
       }
    button{
        font-size: 16px;
        width: 169px;
        height:48px;
        border-radius: 8px;
        margin-top:0px ;
        margin-left:0.8rem ;
        text-align: center;
        color: white;
        background-color: black;
        cursor: pointer;
    }
    .frow{
        display: flex;
        width: 1240px;
        
    }
    .icon{
        margin-top: 10px;
        margin-left: 10px;
    }
    .allz{
        width: 164px;
        height: 48px;
        border: 2px solid #C0C0C0;
        border-radius: 8px;
        margin-left: 6.6rem;
        padding: 0.5rem;
        font-size: 16px;
    }
    .ads{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    .all{
        width: 164px;
        height: 48px;
        border: 2px solid #C0C0C0;
        border-radius: 8px;
        margin-left: 0.5rem;
        padding: 0.5rem;
        font-size: 16px;
    }
    /* sec row*/
    .ty{
        width: 297px;
        height: 90px;
        border: 1px solid #C0C0C0;
        margin-top: 2rem;
        border-radius: 8px;
        padding: 10px;
        margin-right:3rem ;
        display: flex; 
    }
    
    .tpr{
        color: black;
        font-size: 16px;
        margin-top: 10px;
    }
    .svg1{
        margin-top:15px ;
        margin-left: 5px;
        margin-right: 10px;
    }
    .tdp{
        width: 297px;
        height: 90px;
        border: 1px solid #C0C0C0;
        margin-top: 2rem;
        border-radius: 8px;
        padding: 10px;
        margin-right:0 ;
        display: flex;
    }
    .tpr{
        color: black;
        font-size: 16px;
        margin-top: 10px;
    }
    .TAUT{
        display: flex;
    }
    /* third row*/
    .tra{
        border: 1px solid #C0C0C0;
        border-radius: 8px;
        width: 1240px;
        height: 360px;
        margin-top: 1.5rem;
        display: flex;
    }
    .cc{
        border: none;
        width: 259px;
        height: 202px;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    .aa{
        color: black;
        font-size: 16px;
    }
    .bb{
        font-size: 28px;
        width: 259px;
    }
    .dd{
        color: rgb(32, 32, 145);
    }
    .ee{
        color: rgb(56, 197, 56);
    }
    h6{
        font-size: 14px;
    }
    .rh{
        border: 1px solid #C0C0C0;
        box-shadow: 4px 4px 4px 0px #0000001A;
        color: black;
        background-color: white;
        margin-top: 4rem;
        margin-left: 0;
    }
    .box{
        width: 528px;
        height: 310px;
        border: 1px solid #C0C0C0;
        margin-top: 1.5rem;
        margin-left: 2rem;
        border-radius: 8px;
        padding-left: 0.5rem;
        padding-top: 0.2rem;
    }
    .rev{
        margin-top: 2rem;
        margin-left: 3rem;
    }
    .box2{
        border: 1px solid #C0C0C0;
        width: 363px;
        height: 310px;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }
    /* table*/
    .tables{
        display: flex;
        width: 1240px;
    }
    .topt{
        border: 1px solid #C0C0C0;
        width: 614px;
        height: 586px;
        margin-top: 1.5rem;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 14px;
        margin-right: 0.5rem;
       
    }

    .toptp{
        font-size: 16px;
        font-weight: 600;
        margin: 1rem;
    }
    .viw{
        float:right;
        color: blue;
        font-size: 14px;
        font-weight: 600;
    }
    table{
        border-collapse: collapse;
        text-align: left; 
        
    }
    th{
        background-color: #C0C0C0;
        width: 598px;
        height: 40px;
        padding-left: 1rem;
        font-weight: 400;
    }
    table td{
        padding-left: 1rem;
        height: 75px;
        border-bottom: 1px solid #C0C0C0;
        font-weight: 600;
    }
    .hh{
        border-bottom: none;
    }
    .topr{
        border: 1px solid #C0C0C0;
        width: 614px;
        height: 586px;
        margin-top: 1.5rem;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 14px;
        margin-left:0.5rem;
        margin-right: 0;
       
    }
    .allt{
        width: 1240px;
        height: 894px;
        border: 1px solid #C0C0C0;
        margin-top: 1.5rem;
        border-radius: 8px;
    }